*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
:root{
    --light-color:red;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    background: rgb(100, 99, 99);
    color: red;
}
span {
    color:red;
    font-size: 38px;
  
}
h1{
    font-size: 29px;
    color: black;
    font-weight: bold;
}
.frame{
    width: 330px;
    height: 170px;
    background: black;
    color: red;
    border: 35px solid rgb(41, 39, 39);
    font-size: 30px;
    padding: 10px;
    line-height: 80px;
    border-radius: 7x;
 
}
.clock{
    text-shadow: 0px 0px 45px var(--light-color);
    font-family: 'Times New Roman', Times, serif;
   
}
